/* ************************GENERAL**************************** */
:root {
    --main_color: #0D0D0D;
    --white_color: #FFFFFF;
    --reciepe_color: #CFF4FC;
    --reciepe_font_color: #055160;
    --meals_tags: #F8D7DA
}
body {
    overflow: auto;
}

ul li,
ul li a {
    color: white;
    text-transform: capitalize;
    cursor: pointer
}


/* ************************SIDENAV*************************** */
.side_menu {
    top: 0;
    bottom: 0;
    z-index: 999;
    min-height: 100vh;
}

.side_menu .menu {
    background-color: var(--main_color);
    transition: all 1s;
}

.side_menu .menu ul li {
    margin-top: 20px ;
    position:relative;
    top:0 ;
}

.side_menu .toggle_menu_icon {
    background-color: var(--white_color)
}

.side_menu .toggle_menu_icon {
    cursor: pointer;
}

.side_menu .toggle_menu_icon .yummy_logo {
    width: 50px;
    height: 50px;
}

.side_menu .toggle_menu_icon .yummy_logo img {
    width: 100%
}

/* ***********************LOADING************************** */
.loading {
    position: fixed;
    background-color: var(--main_color);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content:center ;
    z-index : 1000
}
.loading .fa-spinner{
    color : var(--white_color) ;
    font-size: 5rem;
}
/* ************************MAIN*************************** */

main {
    background-color: var(--main_color);
    min-height: 100vh;
    padding-top: 40px
}

main .card {
    position: relative;
    overflow: hidden;
    border: 0
}

main .card .card_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    height: 0;
    opacity: 0;
    width: 100%;
    visibility: none;
    transition: all 0.5s ease-in-out;
}

main .card:hover .card_overlay {
    height: 100%;
    opacity: 1;
}

main .card:hover .card_overlay h3 {
    margin-left: 10px
}

main img {
    border-radius: 10px
}

main #recipes li {
    background-color: var(--reciepe_color);
    color: #055160;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.search_form .form-control,
.form-control:focus {
    background-color: transparent
}

.contact_form div {
    margin-bottom: 20px
}

.contact_form .alert-danger {
    margin-top: 10px;
    display: none;
}